body {
    margin: 0 auto;
}

.zone {
    /*padding:30px 50px;*/
    /*cursor:pointer;*/
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
}


/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.75em;
}

a:not([href]) {
  color:#FFFFFF;
  text-decoration: none;
}

a:not([href]):hover {
  color:#FFFFFF;
  text-decoration: none;
}

/***********************************************************************
 *  Cover
 **********************************************************************/
.container {
    /*show heigh: auto*/
    height: 50vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
     grid-template-rows: 1fr, 1fr, 1fr;
    grid-gap: 20px;
}

.box {
    margin: 20px;
    border: 0px;
}

.box > img {
    width: 100%;
}

.text{
    font-size: 0.5em;
    color:#000000;
    border: 0px;
    grid-column-start: span 2;
    justify-content: left;
}

/***********************************************************************
 *  Footer
 **********************************************************************/
footer {
    text-align: center;
    color:#FFFFFF;
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  red Background
 **********************************************************************/
.red {
    background: #CD2034; /* Old browsers */
    background: -moz-linear-gradient #CD2034; /* FF3.6+ */
    background: -webkit-gradient #CD2034; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient #CD2034; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient #CD2034; /* Opera 11.10+ */
    background: -ms-linear-gradient #CD2034; /* IE10+ */
    background: linear-gradient #CD2034; /* W3C */
    background-color: #CD2034;
    border-color: #CD2034;
}

.dropdown:hover {
  color: #fff;
  background-color: #CD2034;
  border-color: #CD2034;
}

/***********************************************************************
 *  black Background
 **********************************************************************/
.black {
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient #000000; /* FF3.6+ */
    background: -webkit-gradient #000000; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient #000000; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient #000000; /* Opera 11.10+ */
    background: -ms-linear-gradient #000000; /* IE10+ */
    background: linear-gradient #000000; /* W3C */
}

/***********************************************************************
 *  white  Background
 **********************************************************************/
.white {
    background: #FFFFFF; /* Old browsers */
    background: -moz-linear-gradient #FFFFFF; /* FF3.6+ */
    background: -webkit-gradient #FFFFFF; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient #FFFFFF; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient #FFFFFF; /* Opera 11.10+ */
    background: -ms-linear-gradient #FFFFFF; /* IE10+ */
    background: linear-gradient #FFFFFF; /* W3C */
}

/***********************************************************************
 *  button first color
 **********************************************************************/

.btn-first {
  font-size: 0.7em;
  color: #fff;
  background-color: #CD2034;
  border-color: #CD2034;
}

.btn-first:hover {
  color: #fff;
  background-color: #CD2034;
  border-color:#CD2034;
}

.btn-first:focus, .btn-secondary.focus {
  color: #fff;
  background-color: #CD2034;
  border-color: #CD2034;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-first.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #CD2034.;
  border-color:  #CD2034;
}

.btn-first:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #CD2034;
  border-color: #CD2034;
}

.btn-first:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
